.new-meeting-time-button {
    width: 150px;
}

.home-button {
    width: 150px;
}

.remove-class-button {
    width: 150px;
}

.class-name-input {
    margin-top: 50px;
}

.classTimeGroup {
    margin: 30px;
}