p,
body,
div,
button,
select {
    margin: 0px;
    padding: 0px;
    font-family: 'Arial';
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Optional: Center vertically in the viewport */
    flex-direction: column;
    background-color: rgb(29, 30, 42);
}

select,
button {
    margin: 7px 7px 7px 7px;
    padding: 5px 15px 5px 15px;
    background-color: rgb(72, 73, 87);
    width: 100px;
    border-style: none;
}

button:hover,
select:hover {
    background-color: rgb(89, 90, 103);
    cursor: pointer;
}

button:active,
select:active {
    background-color: rgb(106, 107, 118);
    cursor: pointer;
}

select {
    width: 215px;
}

.time p {
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 16px;

}

.classList {
    margin-bottom: 45px;
}



.cal-div {
    display: flex;
    flex-direction: row;
}

.weeks {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-top: -20px;
}

.weekday {
    width: 135px;
    border-style: solid;
    border-width: 1px;
    margin-right: 15px;
    text-align: center;
}

.day {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
}

.classTimes {
    position: relative;
}

.classBlock {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classBlock p {
    color: rgb(28, 26, 39);
}

.timeBlockTime {
    font-size: 11px;
    color: rgb(28, 26, 39);

}

input,
select,
textarea {
    color: white;
    background-color: rgb(89, 90, 103);
    border-style: none;
    padding-left: 15px;

}

textarea:focus,
input:focus {
    color: white;
    background-color: rgb(106, 107, 118);
    border-style: none;
    outline: none;
}

.new-meeting-time-button {
    width: 150px;
}

.home-button {
    width: 150px;
}

.remove-class-button {
    width: 150px;
}

.class-name-input {
    margin-top: 50px;
}

.classTimeGroup {
    margin: 30px;
}