p,
body,
div,
button,
select {
    margin: 0px;
    padding: 0px;
    font-family: 'Arial';
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(29, 30, 42);
}

select,
button {
    margin: 7px 7px 7px 7px;
    padding: 5px 15px 5px 15px;
    background-color: rgb(72, 73, 87);
    width: 100px;
    border-style: none;
}

button:hover,
select:hover {
    background-color: rgb(89, 90, 103);
    cursor: pointer;
}

button:active,
select:active {
    background-color: rgb(106, 107, 118);
    cursor: pointer;
}

select {
    width: 215px;
}

input,
textarea {
    color: white;
    background-color: rgb(89, 90, 103);
    border-style: none;
    padding: 5px 0px 5px 5px;
    margin: 0px 5px 0px 5px
}

textarea:focus,
input:focus {
    color: white;
    background-color: rgb(106, 107, 118);
    border-style: none;
    outline: none;
}